// Github
.github
  position fixed
  z-index 15
  right rem(25)
  top rem(25)
  width (66 / 2)px
  height (64 / 2)px
  background url('../img/github.svg') no-repeat
  background-size @width @height
  display inline-block
